Django>=5.2
gunicorn
whitenoise[brotli]
dj-database-url
psycopg2-binary
django_ckeditor_5
Pillow
python-dotenv
requests
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
bleach==6.3.0
django-csp==4.0
django-axes==8.1.0
django-auditlog==3.4.1
sib-api-v3-sdk>=7.6.0
cloudinary
django-cloudinary-storage
channels[daphne]>=4.0.0
channels-redis>=4.0.0
